{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block main %}
<div class="intro">
    <div class="intro-inner">
        <h2>Аренда авто в Минске</h2>
        <h3>Прокат или аренда автомобилей с водителем и без</h3>
        <ul>
            <li>Большой парк автомобилей в наличии</li>
            <li>Доставка авто до вашей геолокации</li>
            <li>Скидки постоянным клиентам</li>
            <li>Любая форма оплаты</li>
            <li>Выгодные цены</li>
        </ul>
    </div>
</div>
<div class="container">

</div>
{% endblock %}